NEAR_NETWORK_ID=testnet
NEAR_RPC_URL=https://rpc.testnet.near.org
NEAR_CONTRACT_ID=freedom-registry-jellero.testnet
NEAR_RELAYER_ACCOUNT_ID=freedom-relayer-jellero.testnet
NEAR_RELAYER_PRIVATE_KEY=ed25519:REPLACE_WITH_RELAYER_KEY
PORT=8787
